.log {
  color: rgb(206, 149, 25);
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif
}

.form1 {
  float: right;
  margin-top:auto;
}

.blue {
  background-color: rgb(0, 0, 196)  ;
  height: 40px;
  margin: 10px;
}

.parte1 {
  width: 170px;
  border: solid 1px rgb(58, 58, 58);
  margin: 10px;
  padding: 5px;
}


.parte2 {
  border:dotted 2px red;
  width: 170px;
  margin: 10px;
  padding: 5px;
}

.image {
  width: 140px;
  height: 120px;
  float: left;
  margin: 15px;
}


.division1 {
  float: left;
  width: 180px;
  margin:15px;
}

.division3 {
  float: left;
  width: 200px;
  margin:5px;
  border: solid 1px orange;
  padding: 5px;
  margin-left:5%;
}

.division2 {
  float: left;
  width: 620px;
  margin:15px;
  margin-left:5%;
}

.title {
  padding: 10px;
  background-color: orange;
  margin-top: 0px;
}

.pie {
  border: 1px grey;
  width: 90%;
  margin-top: 20px;
  margin: 2px;
  padding: 5px;
  float: left;
}